<main class="px-4 py-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group phx-mount={Process.send_after(self(), :clear_flash, 3000)} flash={@flash} />
    {@inner_content}
  </div>
</main>
